* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face{
    font-family: "Carnevalee-Freakshow";
    src: url('../cards/Carnevalee-Freakshow.ttf'),
    url('Thonburi-Bold.eot'); /* IE */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    user-select: none;
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.title {
    display: block;
    background:url(../img/logo.png) no-repeat center top; /* 250px x 320px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:320px;                   /* text area width */
    text-align:center;
    padding:320px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-200px 0px 0px -160px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

#title-header {
    font-size:42px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
	font-family:Carnevalee-Freakshow
}

#title-sub {
    font-size:20px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
	font-family:Carnevalee-Freakshow
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .title {
		background:url(../img/logo-small.png) no-repeat left center; /* 150px x 192px */
        padding:75px 0px 75px 150px;  /* padding-top + padding-bottom + text area = image height */
        margin:-96px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

.event {
    background-color:#4B946A;
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:2px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.game {
    display: none;
}

.page-heading {
    font-size: 48px;
    font-family:Carnevalee-Freakshow;
    position: absolute;
    left:50%;
    height:100px;
    width:250px;
    text-align:center;
    padding:10px 0px 0px 0px;
    margin:0px 0px 0px -125px;
}
.regular-text {
    font-size: 24px;
    font-family:Carnevalee-Freakshow;
    position:absolute;
    top:50%;
    left:50%;
    height:150px;                   /* text area height */
    width:250px;                   /* text area width */
    text-align:center;
    padding:60px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-250px 0px 0px -125px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}
.tiles {
    position: absolute;
    left:50%;
    top:50%;
    margin:-100px 0px 0px -127px; 
}
.continue {
    position: absolute;
    left: 50%;
    top:100%;
    width: 240px;
    margin: -36px 0px 0px -120px;
    text-align: center;
}
#story-card {
    display: block;
    background:url(../img/template.png) no-repeat center top;
    position:absolute;
    left:50%;
    top:50%;
    width:212px;
    height:329px;
    margin:-130px 0px 0px -106px;
}
#card-image {
    position: absolute;
    left:50%;
    top:50%;
    width:173px;
    height:130px;
    margin:-143px 0px 0px -86px;
}
#card-name {
    color:white;
    font-weight: bold;
    font-size: 14px;
    font-family: Arial;
    position: absolute;
    left:50%;
    top:50%;
    width:170px;
    height:18px;
    text-align: center;
    margin:-8px 0px 0px -85px;
}
#card-number {
    color:white;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial;
    position: absolute;
    left:50%;
    top:50%;
    width:18px;
    height:14px;
    text-align: center;
    margin:-137px 0px 0px 87px;
}
#traits {
    position: absolute;
    font-weight: bold;
    font-size: 10px;
    left:50%;
    top:50%;
    width:170px;
    height:16px;
    text-align: center;
    margin:18px 0px 0px -85px;
}
#event-text {
    position: absolute;
    font-size: 12px;
    left:50%;
    top:50%;
    width:170px;
    height:64px; 
    padding:2px 2px 2px 2px;
    text-align: center;
    margin:34px 0px 0px -85px; 
}
#flavor-text {
    position: absolute;
    font-size: 8px;
    left:50%;
    top:50%;
    width:170px;
    height:36px;  
    text-align: center;
    margin:110px 0px 0px -85px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .page-heading {
        left:25%;
    }
    .regular-text {
        left: 25%;
        top: 50%;
        height: 300px;
        width: 200px;
		margin:-150px 0px 0px -100px;
    }
    .tiles {
        position: absolute;
        left:50%;
        top:50%;
        margin:-127px 0px 0px -0px; 
    }

    #story-card {
        position:absolute;
        left:75%;
        top:50%;
        width:212px;
        height:329px;
        margin:-164px 0px 0px -106px;
    } 
}

.tile {
    border: 2px solid black;
    border-radius: 4px;
    height: 60px;
    width: 60px;
    margin: 8px;
    background: lightgray;
}
.tile.selected {
    background: green;
}
.tile.active {
    background: lightgray;
}
.tile.inactive {
    background: gray;
}